@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Matcha";
  src: url("../assets/fonts/matcha.ttf") format("truetype");
}

* {
  font-family: "Nunito Sans", serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #303133;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Matcha";
  color: #303133;
  font-size: 64px;
}

nav {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  border-bottom: #00000010 1px solid;
}

nav img {
  height: 60px;
  width: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav img:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #303133;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: rgba(48, 49, 51, 0.5);
}

nav ul li a:hover svg {
  fill: rgba(48, 49, 51, 0.5);
}

nav ul li a svg {
  height: 20px;
  width: 20px;
  fill: #303133;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .burger {
  display: none;
  height: 30px;
  width: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .burger .line {
  background-color: black;
  height: 3px;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 800px) {
  nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul {
    display: none;
  }
}

.btn-main {
  background-color: #303133;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f4efeb;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-main:hover {
  background-color: #242426;
}

.link-secondary {
  color: #303133;
  cursor: pointer;
  text-decoration: none;
}

#home-page {
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

#home-page .breadcrumb {
  color: #777777;
}

#home-page .products-container {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}

#home-page .products-container article h3 {
  padding-top: 5px;
  font-size: 18px;
}

#home-page .products-container article p {
  color: #777777;
  font-size: 16px;
}

#home-page .products-container article .image-container {
  position: relative;
  width: 100%;
  height: 250px;
}

#home-page .products-container article .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#home-page .products-container article .image-container .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#home-page .products-container article .image-container button {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 0px;
  background-color: #303133;
  opacity: 0;
  border: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  cursor: pointer;
}

#home-page .products-container article:hover .image-container .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

#home-page .products-container article:hover .image-container button {
  height: 50px;
  opacity: 1;
}

@media (max-width: 900px) {
  #home-page .products-container {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 650px) {
  #home-page .products-container {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.product-page {
  width: 100vw;
  min-height: 100vh;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.product-page .breadcrumb {
  padding: 0 50px;
  color: #777777;
  font-size: 14px;
}

.product-page .color-gray {
  color: #777777;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-page .color-gray:hover {
  color: black;
}

.product-page .configurator {
  padding: 0 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.product-page .configurator .preview-container {
  position: relative;
  min-width: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.product-page .configurator .preview-container .actions-container {
  position: absolute;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.product-page .configurator .preview-container .actions-container .action-item {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-page .configurator .preview-container .actions-container .action-item.active, .product-page .configurator .preview-container .actions-container .action-item:hover {
  border: 1px solid #808080;
}

.product-page .configurator .preview-container .canvas {
  height: 55vh;
  width: 100%;
  background-color: lightgray;
}

.product-page .configurator .preview-container .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.product-page .configurator .preview-container .images-container .image {
  background-color: lightgray;
  height: 150px;
  width: 220px;
}

.product-page .configurator .product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.product-page .configurator .product span {
  color: #777777;
  font-size: 16px;
}

.product-page .configurator .product h1 {
  font-family: "Matcha";
  font-size: 64px;
}

.product-page .configurator .product .product-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.product-page .configurator .product .product-variants .texture-variant {
  width: 100%;
  height: 75px;
  padding: 0 10px;
  border: #77777750 1px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.product-page .configurator .product .product-variants .texture-variant img {
  height: 55px;
  width: 55px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-page .configurator .product .product-variants .texture-variant .no-image {
  height: 55px;
  width: 55px;
  background-color: lightgray;
}

.product-page .configurator .product .product-variants .texture-variant p {
  color: #777777;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-page .configurator .product .product-variants .texture-variant:hover, .product-page .configurator .product .product-variants .texture-variant.current {
  border: #303133 1px solid;
}

.product-page .configurator .product .product-variants .texture-variant:hover p, .product-page .configurator .product .product-variants .texture-variant.current p {
  color: #303133;
}

.product-page .configurator .product button {
  margin-top: 20px;
}

.product-page .configurator .product a {
  text-align: center;
}

.product-page .product-details {
  margin-top: 100px;
  padding: 50px;
  width: 100%;
  background-color: #f4efeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.product-page .product-details h2 {
  font-family: "Matcha";
  font-size: 48px;
}

.product-page .product-details p {
  color: #777777;
  font-size: 16px;
  max-width: 60%;
  line-height: 135%;
}

@media (max-width: 800px) {
  .product-page .breadcrumb {
    padding: 0 20px;
  }
  .product-page .configurator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .product-page .configurator .preview-container {
    height: 60vh;
  }
  .product-page .product-details {
    padding: 30px 20px;
  }
  .product-page .product-details p {
    max-width: 100%;
    text-align: justify;
  }
}
/*# sourceMappingURL=main.css.map */